@import '../../scss/variables';

.previewUpFiles {
    
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: relative;

    &__warning{
        border-radius: 10px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 100;
        background-color: white;
        border: 2px solid red;
        // pointer-events: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        color: #000000a2;
        text-align: center;
    }

    &__warning:hover{
        border: 2px solid $yandex;
    }
    
    
   &__transparency{
        border-radius: 10px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.26124978800113796) 35%, rgba(255,255,255,0) 100%);
        z-index: 100;
        pointer-events: none
    }
    &__text{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        color: #000000a2;
        text-align: center;
    }


}

.wrapper_transparency{
    background-color: #fff;
    width: 100%;
    box-shadow: 2px 5px 10px rgba(87, 87, 87, 0.137);
    border-radius: 10px;
    height: 25%;
    position: relative;
}